.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.centertext {
  text-align: center;
}
.full-width {
  width: 100%;
}
.margin-top{
  margin-top: 1%;
}
.margin-left{
  margin-left:3%;
}
.float-left{
 float: left;
}
.margin-top-big{
  margin-top: 2%;
}