.container {
    background: transparent;
  }
  
  .sidenav-content {
    height: 100vh;
    align-items: center;
    background: transparent;
    justify-content: center;
  }
  
  .sidenav {
    background: transparent;
  }

.toolbar-button button,
.toolbar-button a {
    margin-right: 8px;
}
.height{
    height: 5vh;
    width: 100%;
}
.middle{
    text-align: center;
    width: 60%;
    display: inline-block;
}
.left{
    text-align: left;
    width: 20%;
    display: inline-block;
}
.right{
    text-align: right;
    width: 20%;
    display: inline-block;
}