<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <mat-list-item>
        <button (click)="navigate('home')" mat-button>
          <span translate>COMPONENT.TOOLBAR.HOME</span>
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <button (click)="navigate('statistics')" mat-button>
          <span translate>COMPONENT.TOOLBAR.STATISTICS</span>
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <button (click)="navigate('transactions')" mat-button>
          <span translate>COMPONENT.TOOLBAR.TRANSACTIONS</span>
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon>language</mat-icon>
        <button (click)="setLanguage('hu')" mat-button>
          <span translate>COMPONENT.TOOLBAR.HUNGARIAN</span>
        </button>
        <button (click)="setLanguage('en')" mat-button>
          <span translate>COMPONENT.TOOLBAR.ENGLISH</span>
        </button></mat-list-item
      >
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="left">
          <button mat-fab color="primary" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span class="middle">{{ this.location.value }}</span>
        <span class="right">
          <button mat-stroked-button color="basic" (click)="logOut()">
            <span translate>COMPONENT.TOOLBAR.LOGOUT</span>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
